<h1>Employees </h1>
<hr>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Deptt</th>
      <th>Designation</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let emp of employees' >
      <td>{{emp.EmpNo}}</td>
      <td>{{emp.EmpName}}</td>
      <td>{{emp.Salary}}</td>
      <td>{{emp.DeptName}}</td>
      <td>{{emp.Designation}}</td>
      <td><input type="button" class="btn " value="Details" (click)="selctEmp(emp)" >
      <!-- <a [routerLink]="['/list-detail',emp.EmpNo]" class="btn btn-success" >Details</a> -->
      </td>
    </tr>
  </tbody>
</table> 