<h1>Emp Details </h1>
<hr>

<table class="table table-striped table-hover ">
  <tbody>
    <tr>
      <td>EmpNo</td>
      <td>{{employee.EmpNo}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{employee.EmpName}}</td>
    </tr>
    <tr  >
      <td>Salary</td>
      <td>{{employee.Salary}}</td>
    </tr>
    <tr>
      <td>Dept</td>
      <td>{{employee.DeptName}}</td>
    </tr>
    <tr>
      <td>Designation</td>
      <td>{{employee.Designation}}</td>
    </tr>    
  </tbody>
</table> 